<h1>Listing users</h1>

<table>
  <tr>
    <th>Foursq</th>
    <th>Territory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.foursq_id %></td>
    <td><%= user.area %></td>
  </tr>
<% end %>
</table>

<p><%= @area %></p>
<p><%= @rank %></p>
<br />

<%= link_to 'New User', new_user_path %>
