<h1>Listing territories</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lng</th>
    <th>Name</th>
    <th>Been here</th>
    <th>Venue</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @territories.each do |territory| %>
  <tr>
    <td><%= territory.lat %></td>
    <td><%= territory.lng %></td>
    <td><%= territory.name %></td>
    <td><%= territory.been_here %></td>
    <td><%= territory.venue_id %></td>
    <td><%= territory.user %></td>
    <td><%= link_to 'Show', territory %></td>
    <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
    <td><%= link_to 'Destroy', territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Territory', new_territory_path %>
