<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @territory.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @territory.lng %>
</p>

<p>
  <b>Name:</b>
  <%= @territory.name %>
</p>

<p>
  <b>Been here:</b>
  <%= @territory.been_here %>
</p>

<p>
  <b>Venue:</b>
  <%= @territory.venue_id %>
</p>

<p>
  <b>User:</b>
  <%= @territory.user %>
</p>


<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
